[submodule "pathplanning"]
	path = pathplanning
	url = https://github.com/Brightestsama/A4VAI-PathPlanning.git
[submodule "algorithm_test"]
	path = algorithm_test
	url = https://github.com/JOCIIIII/A4VAI-TestCode.git
[submodule "pathfollowing"]
	path = pathfollowing
	url = https://github.com/dailydi2/A4VAI-PathFollowing.git

[submodule "ego-planner-a4vai"]
	path = ego-planner-a4vai
	url = https://github.com/swan9910/ego-planner-a4vai.git
